@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Audiowide&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Audiowide&family=Bitter&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Heebo&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;500;900&family=Rubik:wght@300;400&family=Secular+One&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Yellowtail&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  margin: auto;
  position: relative;
  width: 700px;
}
.container{
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 7px 2px #ad9a6f;
  line-height: 22px;
  font-family:Heebo;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap:60px;
  background-color: #f6f6f6;
  font-weight: 500;
}
.first-div{
  margin-left: 2px;
  margin-top: 50px;
}
.header-data,.education,.about,.skills,.lang,.projects{
  margin-left: 80px;
}
.fname,.lname{
  font-size: 40px;
  font-family: Secular One;
}
.fname{
  margin-bottom: 30px;
}
.lname{
  margin-bottom: 30px;
}
.post{
  color: #5960a6;
  font-size: 20px;
  margin-bottom: 60px;
}
h3{
  padding-top: 40px;
  padding-bottom: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
}
.contact{
  background-color: #585fa3;
  padding: 70px;
  padding-top: 80px;
  color: #f6f6f6;
}
.back-div{
  background-color: #585fa3;
  padding-right: 70px;
}
.phone,.email,.location{
  display: grid;
  grid-template-columns: 10% 1fr;
  column-gap: 20px;
  margin-bottom: 10px;
}
.contact i{
  position: relative;
  top: 4px;
}
.certi,.work,.social,.references{
  background-color: #f6f6f6;
  padding-left: 50px;
}
.edu1,.edu2,.work1{
  margin-bottom: 15px;
}
.img{
  width: 305px;
  height: 330px;
  float: right;
  position: relative;
  right: 63px;
  margin-bottom: 50px;
  display: flex;
  background-color: #5960a6;
}
img{
  width: 100%;
  height: 100%;
}
.about-para{
  margin-right: 10px;
}
.hr{
  border: 3px solid #eeb09c;
  margin-bottom: 35px;
  margin-left: 35px;
}
.vl{
  border-left: 7px solid #eeb09c;
  height: 315px;
  background-color: #585fa3;
  position: relative;
  top: 29px;
  right: -33px;
  
}
.progressbar{
  width: 87%;
  height: 8px;
  background-color: #ddd3d4;
  margin-top: 3px;
  margin-bottom: 9px;
}
.fill{
  height: 100%;
  background-color: #df585a;
}
.fill1{
  width: 70%;
}
.fill2{
  width:90%;
}
.fill3{
  width: 70%;
}
.fill4{
  width: 60%;
}
.fill5{
  width: 90%;
}
.fill6{
  width: 80%;
}
.skills{
  position: relative;
  bottom: 30px;
}
.certi-para1{
  margin-bottom: 15px;
}
.date{
  font-weight: bold;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.work{
  position: relative;
  bottom: 25px;
}
.lang{
  position: relative;
  bottom: 40px;
}
.insta,.Twitter,.facebook{
  display: grid;
  grid-template-columns:8% 1fr;
  column-gap: 10px;
}
.social i{
  font-size: 18px;
  position: relative;
  top: -10px;
}
.insta,.facebook{
  margin-bottom: 15px;
}
.social i{
  position: relative;
  top: 2px;
}
.insta{
  margin-top: 20px;
}
.insta,.facebook{
  margin-bottom: 15px;
}
.social{
  position: relative;
  bottom:30px;
}
.p-link{
  color: rgb(103, 103, 218);
  margin-bottom: 10px;
}
.projects{
  position: relative;
  bottom: 40px;
}
.references{
  position: relative;
  bottom: 20px;
}
.lang,.social,.projects,.references{
  display: none;
}